* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: relative;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    cursor: pointer;
}

button:focus {
    outline-style: none;
}

button::-moz-focus-inner {
    border: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.starfox {
    padding: 0;
    height: 100%;
    width: 100%;
}

.starfox:active {
    transform: rotate(45deg);
}


@media screen and (max-width: 640px) {
    .starfox > img {
        height: 191px;
    }
}
