* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    position: relative;
    touch-action: none;
    font-family: Menlo, Andale Mono, monospace;
    background: #f0f0f0;
    color: #363636;
    text-shadow: 1px 1px 0px white;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    cursor: pointer;
}

button:focus {
    outline-style: none;
    border: none;
    background: transparent;
}

button::-moz-focus-inner {
    border: 0;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.starfox {
    padding: 0;
    height: 100%;
    width: 100%;
}

.starfox:active {
    transform: rotate(45deg);
}

.starfox > .img {
    background: url("./assets/TM_Fox_Vector_HD.png") no-repeat center;
    background-size: 40%;
    height: 100%;
    width: 100%;
}

.counter__container {
    z-index: -1;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

.counter__click {
    font-size: 4em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .counter__click {
        font-size: 2em;
    }
}

@media (max-width: 320px) {
    .counter__click {
        font-size: 1em;
    }
}

.counter__user {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
}